# Topics

### 1. Iteration  
```python
# iterate a specific number of times
for i in range (17):
    print("Something")

a_list = ['BIO', 'BUS', 'CHEM', 'CIS', 'ECON', 'JR', 'PHY']

# iterate with an index to change an item in a list
for index in range(len(a_list)):
    if a_list[index] == 'JR'
        a_list[index] = 'J'
    #

# iterate 
for item in a_list:
    print(item)
    print()

# iterate through the keys in a dictionary
a_dict = {'BUS': 'Lillis', 'CHEM':'Klamath', 'CIS':'Deschutes'}
for a_key in a_dict:
    hall = a_dict[a_key]
```
### 2. Filter  
#### -- create a list that just includes the items you want to work with
```python
big_list = [45, 67, 99, 109, 14, 22, 137, 895, 416, 33, -7]
# Get a filtered list of values smaller than 50
little_numbers = []
for number in big_list:
    if number < 50:
        little_numbers.append(number)
#
```

### 3. categories 
#### assign a category to values using if elif  elif  elif else
```python
height = 75 # inches
if height < 60:
    category = 'short'
elif height < 72:
    category = 'typical'
elif height < 85:
    category = 'tall'
else:
    category = 'very tall'
print(height, category)
```

### 4. while 
#### use when you cannot predict how many times to loop
```python
name_list
request = 'Type / to quit or type a name to add: '
name = input(request)
while name != '/':
    # do something with the name (maybe append it to a list)
    name_list.append(name)
    # get another 
    name = input(request)
#

```

### 5. define a function
#### Given one or more values, return an answer
```python
def compute_value(a, b, c):
    ''' compute c * sum of first two numbers'''
    result = (a + b) * c
    return result
# 
```

### 6. pandas
#### get and filter data from web or file with pandas
```python
import pandas as pd
# can read a .csv (comma separated file) all in one statement
url = 'http://some_pathtoafile'
my_data = pd.read_csv(url)

who = 'Taylor'
results = my_data.query('name == @who') # query the pandas data
```

### Iteration - Repeat number times
#### for some_variable in range(number):  # Repeat number times

In [14]:
# Repeat 17 times
for i in range (17):
    print("Chant with me")

Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me
Chant with me

In [13]:
# Repeat n times
typing = input("Repeat how many times (1-7) ")
n = int(typing)
for count in range(n):
    print("Go Ducks!")

Repeat how many times (1-7) 3
Go Ducks!
Go Ducks!
Go Ducks!

### Iteration - Example
#### a_list = ['Alpha', 'Bravo', 'Charlee', 'Data']
#### for some_index in range(len(a_list):

In [12]:
# This is just a test list; our real list has 17,477 items
# so you need a program to examine the list for known bad values

a_list = ['Alpha', 'Bravo', 'Charlee', 'Data', 'Echo']
# Iterate
# Check each item in list for known errors
# Change wrong items to right values
for index in range(len(a_list)):
    item = a_list[index]
    if item == 'Charlee':
        a_list[index] = 'Charlie'
    if item == 'Data':
        a_list[index] = 'Data'
    #
#
print(a_list)

['Alpha', 'Bravo', 'Charlie', 'Data', 'Echo']

### Iteration -- Example
#### transportation_list = ['Plane', 'Bike', 'Train', 'Cable Car', 'Auto', 'Truck', 'Canoe']
#### for each_item in transportation_list:

In [9]:
transportation_list = ['Plane', 'Bike', 'Train', 'Cable Car', 
          'Auto', 'Truck', 'Canoe']
for each_item in transportation_list:
    if each_item == 'Cable Car':
        comment = '-- only use in San Francisco'
    else:
        comment = 'use in any city'
    print(each_item, comment) # all on the same line
#

Plane use in any city
Bike use in any city
Train use in any city
Cable Car -- only use in San Francisco
Auto use in any city
Truck use in any city
Canoe use in any city

In [10]:
transportation_list.append('Monorail')
for each_vehicle in transportation_list:
    print(each_vehicle)
#
print("\nDone")

Plane
Bike
Train
Cable Car
Auto
Truck
Canoe
Monorail

Done

## Iteration - Example
### going through keys in a dictionary

In [8]:
state_trees_dict = {'WA': 'western hemlock', 'ID': 'white pine', 
                    'OR': 'douglas fir', 'NV': 'pinyon pine'}
# Here the keys are 'WA', 'ID', 'OR', 'NV'

for key_state in state_trees_dict:
    tree = state_trees_dict[key_state]
    print(key_state, tree)

NV pinyon pine
WA western hemlock
OR douglas fir
ID white pine

In [7]:
# Sort the keys
state_trees_dict = {'WA': 'western hemlock', 'ID': 'white pine', 
                    'OR': 'douglas fir', 'NV': 'pinyon pine'}
# Here the keys are 'WA', 'ID', 'OR', 'NV'

for key_state in sorted(state_trees_dict):
    #            ******
    tree = state_trees_dict[key_state]
    print(key_state, tree)

ID white pine
NV pinyon pine
OR douglas fir
WA western hemlock

## Iteration - Example using while
### while some_condition is true

In [6]:
animal_list = [ ] # start with empty list
request = 'Name of animal or / to stop: '
animal_name = input(request)
while animal_name != '/':
    animal_list.append(animal_name)
    
    # Must get another or we'll get stuck in infinite loop
    animal_name = input(request)
#
print("\nAnimals in our list")
for animal in animal_list:
    print(animal)
#
print("Done!")

Name of animal or / to stop: Elk
Name of animal or / to stop: Duck
Name of animal or / to stop: Wolf
Name of animal or / to stop: Dog
Name of animal or / to stop: /

Animals in our list
Elk
Duck
Wolf
Dog
Done!

# Filter
## Create a filtered list from a large list
### 1. Create an empty filtered list
### 2. Iterate through the large list,
### 3. If an item qualifies, append it to the filtered list

In [5]:
car_prices = [12675, 19200, 22500, 37300, 58900, 72000, 107500, 5000]
luxury_car_prices = []   # luxury cars cost more than $50,000

# Iterate, selecting the luxury car prices
for price in car_prices:
    if price > 50000:
        # filtered_list.append(value)
        # Adds the price to the end of the luxury car prices list
        luxury_car_prices.append(price)
    #
#

# Get some info about the filetered data
total_luxury_car_prices = sum(luxury_car_prices)
number_of_luxury_cars = len(luxury_car_prices)
average_luxury_price = \
    round(total_luxury_car_prices / number_of_luxury_cars, 2)
    
print("Luxury car prices")
print("Total: $", total_luxury_car_prices)
print("Number of luxury cars", number_of_luxury_cars)
print("Average cost $", average_luxury_price)

Luxury car prices
Total: $ 238400
Number of luxury cars 3
Average cost $ 79466.67

# Put into categories   if    elif    elif  elif   else

In [4]:
# Prineville University wants to change scores into words
# range of scores      word
#   90 - 100           "Excellent"
#   78 - 89            "Good"
#   65 - 77            "OK"
#   55 - 64            "Poor"
#   0  - 54            "Unacceptable"

score_list = [17, 98, 100, 54, 56, 65, 72, 89, 90]
word_list  = [ ]

for score in score_list:
    if score >= 90:
        word = "Excellent"
        # at this point, Python jumps past all remaining elifs and else
    elif score >= 78:
        word = "Good"
        # at this point, Python jumps past all remaining elifs and else
    elif score >= 65:
        word = "OK"
        # at this point, Python jumps past all remaining elifs and else
    elif score >= 55:
        word = "Poor"
        # at this point, Python jumps past the remaining else        
    else:
        word = "Unacceptable"
    #
    # Add word to word_list
    word_list.append(word)
#

n = len(score_list)
for index in range(n):
    score = score_list[index]
    word = word_list[index]
    print(score, 'is', word)
#

17 is Unacceptable
98 is Excellent
100 is Excellent
54 is Unacceptable
56 is Poor
65 is OK
72 is OK
89 is Good
90 is Excellent

## pandas Example - to read, then filter data

In [15]:
import pandas as pd

url = 'http://www.cs.uoregon.edu/Classes/17W/cis122/data/yob2006.csv'
name_data = pd.read_csv(url)
name_data[0:5] # show 1st 5 rows of data
# Emily F 21385
# in 2006, "Emily" was the name for 21385 Female babies ("F") born in USA
# Column names
#   name    baby name such as 'Madison'
#   gender  F or M
#   count   int number of babies born with this name

       name gender  count
0     Emily      F  21385
1      Emma      F  19104
2   Madison      F  18610
3  Isabella      F  18212
4       Ava      F  16935

## filter pandas data to names_found

In [2]:
who = 'Madison'
# in a query string, @xxx refers to a variable xxx
names_found = name_data.query('name == @who') # @who means the variable who
names_found

          name gender  count
2      Madison      F  18610
22037  Madison      M     67

## define a function
### it will return an answer to the caller

In [3]:
# define a function
def compute_remainder(amount, divisor):
    '''
        Given an integer amount, 
        compute the remainder of integer dividing
        amount by divisor
        
        Divisor must be integer, not 0
        
        Example:
        x = compute_remainder(5, 2))
        print(x)
        prints 1 
        
    '''
    remainder = amount % divisor
    return remainder

# Define function name (one or more parameter names) : colon
#    '''
#       Optional notes describing purpose, use of function
#    '''
     # One or more statements, indented
     # return result   # Sends back a result value, exits function

# First unindented statement ends function

x = 17
y = 3
left_over = compute_remainder(x, y)
# This function needs two argument values
# The names of the arguments don't matter
# The function treats them as "first argument" and "second argument"

print(x, 'integer divided by', y, 'gives', left_over, 'remainder')

17 integer divided by 3 gives 2 remainder